/* 
    首页面
 */
@import "../public/css.css";


/* 主区域内容栏 */
.container .bgimg{
    width: 100%;height: 20%;
    /* position: relative; */
}
.container .bgimg img{
    width: 100%;height: 200px;
    background-size: contain;
}
.container .search{
    width: 80%;
    margin: -20px auto;
}
.container .search a input{
    width: 100%;height: 40px;
    text-indent: 1em;
    border: 1px solid #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .3);
    border-radius: 5px 0 0 5px;
}
.container .search a button{
    width: 45px;height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: rgb(255, 202, 0);
    color: #000;
    border-radius: 0 5px 5px 0;
}
.container .search a button i{
    font-size: 2em;
}
